.jumbotron{
    background-color: rgba(21, 165, 248, 0.849);
    color: black;
    margin-top: 50px;
       
}

.footer{
    background-color: rgb(191, 219, 247) ;
}

.card-digital{
    flex: 1 150px;
    padding: 2px 0px 2px 0px;
    margin-top: 10px;
}

.btn-digital{
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon{
    padding-right: 10px;
}
.card-img-top{
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
.tab-content{
    padding-top: 10px;

}