.jumbotron {
  background-color: #ed1818;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}
.footer {
  background-color: #fff424;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-digital {
  flex: 1 150px;
  padding: 2px 0px 2px 0px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-digital {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}
.tab-content {
  padding-top: 10px;
}
