$yellow:#FFFFFF;
$green:#32c91a;
$red:#ed1818;


@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
    
}

.jumbotron{
    background-color:$yellow;
    color: black;
    
    @include margenes(50px, 0px );
       
}

.footer{
    background-color:$green ;
    @include margenes(10px, 0px );
}

.card-digital{
    flex: 1 150px;
    padding: 2px 0px 2px 0px;
    @include margenes(10px, 0px );
}

.btn-digital{
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon{
    padding-right: 10px;
}
.card-img-top{
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
.tab-content{
    padding-top: 10px;

}